html, body, ul, li {
  padding: 0;
  margin: 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}
/* header */
header .header_wrapper {
  border-top: 30px solid #404040;
  background: #000000;
}
header .header_wrapper a.logo {
  background: url('../images/citrine-2.svg') no-repeat;
  display: block;
  height: 54px;
  margin: 25px 0 0;
  padding-bottom: 25px;
  text-indent: -999999px;
  width: 215px;
}

ul.menu {
  list-style: none;
  height: 25px;
  background-color: #fc0;
}
ul.menu li {
  list-style: none;
  float: left;
}
ul.menu li a{
  color: #404040;
  display: block;
  font-size: 12px;
  padding: 5px 10px 4px;
  text-decoration: none;
}
ul.menu li.active a, ul.menu li a:hover{
  background-color: #000;
  color: #999;
}




/*footer*/
footer {
  height: 44px;
  background-color: #3f3f3f;
}