html, body, ul, li {
  padding: 0;
  margin: 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}
/* header */
header .header_wrapper {
  border-top: 30px solid #404040;
  background: #000000;
}
header .header_wrapper a.logo {
  background: url('../images/citrine-2.svg') no-repeat;
  display: block;
  height: 54px;
  margin: 25px 0 0;
  padding-bottom: 21px;
  text-indent: -999999px;
  width: 215px;
}

ul.menu {
  list-style: none;
  height: 25px;
  background-color: #fc0;
}
ul.menu li {
  list-style: none;
  float: left;
}
ul.menu li a{
  color: #404040;
  display: block;
  font-size: 12px;
  padding: 5px 10px 4px;
  text-decoration: none;
}
ul.menu li.active a, ul.menu li a:hover{
  background-color: #000;
  color: #999;
}

/*breadcrumbs*/
.breadCrumbs{
  margin: 15px 0;
  color: #999;
  font-style: 12px;
}
.breadCrumbs a {
  color: #999;
  text-decoration: none;
  text-transform: capitalize;
}


/*View timesheets table */
.view-timesheets-table {
  font-size: 12px;
  text-align: left;
}
.view-timesheets-table thead tr th, .view-timesheets-table tfoot tr td{
  color: #999999;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-right: none;
  line-height: 26px;
  font-weight: normal;
}
.view-timesheets-table thead tr th:last-child {
  border-right: 1px solid #ccc;
}
.view-timesheets-table tbody tr td{
  color: #404040;
  padding: 5px 10px;
  border-left: 1px solid #fff;
}
.view-timesheets-table tbody tr.even{
  background-color: #e5e5e5;
}
.view-timesheets-table tbody tr.odd{
  background-color: #f2f2f2;
}
.view-timesheets-table thead tr th>span {
  float: right;
}
.view-timesheets-table thead tr th{
  cursor: pointer;
}

/*footer*/
footer {
  background-color: #3f3f3f;
  bottom: 0;
  height: 44px;
  position: fixed;
  width: 100%;
}
